:root {
	--arrow-size: 0.45em;
}

.nav-icon-holder {
	border-radius: 50%;
	display      : inline-flex;
	position     : relative;
	width        : 2em;
	height       : 2em;
	overflow     : visible;
}

.nav-icon-holder,
.nav-icon-holder * {
	transition   : background-color .2s;
}

.nav-icon-holder>i {
	margin    : 0 auto;
	align-self: center;
}

.nav-icon-holder .small-dot,
.nav-icon-holder .icon-donut {
	display      : block;
	border-radius: 50%;
	width        : 33%;
	padding-top  : 33%;
}

.nav-icon-holder .small-dot {
	width      : 50%;
	padding-top: 50%;
}

.nav-icon-holder span {
	border-radius: 4px;
	box-shadow   : 0 0 6px #eee;
	display      : none;
	line-height  : 1.75;
	margin-left  : 1em;
	opacity      : 0;
	padding      : 0 0.75em;
	white-space  : nowrap;
	width        : auto;
	height       : 100%;
	position     : absolute;
	top          : 0;
	left         : 100%;
	transition   : all .2s;
	z-index      : 2;
}

.nav-icon-holder.show span {
	display: block;
}

.nav-icon-holder:hover span {
	opacity: 1;
}

.nav-icon-holder span:before {
	content            : "";
	border             : var(--arrow-size) solid transparent;
	border-top-color   : inherit;
	border-left-color  : inherit;
	border-right-color : transparent;
	border-bottom-color: transparent;
	display            : block;
	position           : absolute;
	top                : 50%;
	left               : 1px;
	/* ^ not zero due to weird FF bug */
	transform          : translate(-50%, -50%) rotate(-45deg);
}

.nav-icon-connector {
	margin          : 0.5em auto 0.5em;
	height          : 2em;
	width           : 0.2em;
	background-color: black;
}