.form-with-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	padding: 1em;
	width: 100%;
	max-width: 1024px;
}

.nav-icons-list, .nav-section-list {
	display: flex;
	flex-direction: column;
}

.nav-section-list {
	width: 100%;
}

@media (min-width: 480px) {
	.form-with-nav {
		flex-direction: row;
	}

	.nav-section-list {
		width: 90%;
	}
}