* {
	box-sizing: border-box;
}

body {
	margin                 : 0;
	font-family            : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
	font-family: 'icomoon';
	src        :
		url('fonts/icomoon.ttf?5fhw48') format('truetype'),
		url('fonts/icomoon.woff?5fhw48') format('woff'),
		url('fonts/icomoon.svg?5fhw48#icomoon') format('svg');
	font-weight : normal;
	font-style  : normal;
	font-display: block;
}

.nav-icon-holder [class^="icon-"],
.nav-icon-holder [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family   : 'icomoon' !important;
	speak         : never;
	font-style    : normal;
	font-weight   : normal;
	font-variant  : normal;
	text-transform: none;
	line-height   : 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
	content: "\f00c";
}

.icon-exclamation:before {
	content: "\f12a";
}